.viewer {
  position: fixed;
  inset: 0;
}

.reader {
  height: 400px;
  width: 80%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #fff;
}

.reader__list {
  border: 1px solid red;
}

.reader__list-volume-header {
  background-color: aliceblue;
  padding: 1rem;
}

.reader__list-chapter {
  padding: 1rem 2rem;
}

.chapter-meta {
  border: 1px solid blue;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.meta-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid yellow;
}

.chapter-list {
  height: 100%;
}

.reader__count {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}

.reader__left {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.control {
  border: 1px solid red;
  height: 400px;
  position: absolute;
  bottom: 100px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
