.viewer {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  flex-direction: column;
}

/* controls */

.viewer__controls {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  background: #111;
}

/* viewport */

.viewer__viewport {
  flex: 1;
  overflow: hidden;
}

/* strip */

.viewer__strip {
  display: flex;
  height: 100%;
}

/* page */

.viewer__page {
  flex: 0 0 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* image */

.viewer__page img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
