.manga-chapter-index {
}

.manga-chapter-index__list {
  border: 1px solid red;
}

.manga-chapter-index__volume-header {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background: #f2f2f2;
  color: #111;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
